body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", Arial, Helvetica,sans-serif;
    color: #ffffff;
}

ul{
    padding:0;
}

li {
    list-style: none;
}

a {
   
    text-decoration: none;
    color:#ece7ef;
    margin: 2px;
}


.lista__info, .paragrafo__info {
    text-align:center;
}





/* cabeçalho */
.cabecalho {
    
    background-color:#d17600;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    padding-top:24px;
    position: fixed; 
    width: 100%;
    height: 124px;
}
/* define que as imagens tem que ter o tamanho máximo da div mãe */

.img-responsive img {
   width: 100%;
    
    
}

.foto-capa img{
    
    background-image: url(../img/Foto_da_Camila_Farani.jpg);
}

/* cabecalho */

.nav__cabecalho{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.lista__nav {
    font-size: 23px;
    display: flex; 
}

.lista__nav > li {
    margin: 0 16px;
}

.titulo {
    min-height: 92vh;
    width: 100%;
    
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content:center;   
}





/* main */
.container {
    max-width: 1260px;
    margin: 0 auto;
    
    
}

/*  maravilhosa */
.titulo__maravilhosa {
    font-size:35px;
    text-align: center;
    margin: 2em 0 2em auto;
    color: #8a4500;
}

.maravilhosa {
    display: flex;
    max-width: 980px;
    margin: 5 auto;
    padding: 2em 2em 2em 2em;
    background-color: #8a4500;
}

.maravilhosa .maravilhosa__img > img {
    width: 35%;
    border-radius: 12px;
    float: left;
    margin: 20px 40px 20px 20px;
   
}

.paragrafo__maravilhosa {
    width: 100%;
    font-size: 22px;
    text-align: justify;
    
}


        


.slider{
    margin: 0; padding: 0;
    
    height: 293px;
    width: 600px;
    margin: auto;
    margin-top: 5em;
    margin-bottom: 5em;
    
    display: flex;
}






/* historia */

/* .titulo__historia {
    font-size: 2.2em;
    color: #4b2967;
}

.paragrafo__historia {
    font-size: 20px;
}

.paragrafo__historia--ultimo {
    font-size: 20px;
    color: #d35e0a;
} */

/* info */

.mais__info {
    background-color:#e6d0bd;
    padding: 20px;
    border-radius: 0 30px;
}
.paragrafo__info {
    font-size: 20px;
    color:#ca6245;
}

.link-info {
    color: #ca6245;
}

/* footer */

.autora__container {
    background-color: #ee8e80;
    margin-top: 5em;
    height: 260px;
    display: flex;
    justify-content:center;
}

.autora__img {
    display: flex;
}

.autora__img > img {
    max-width: 240px;
    border-radius: 15px;
    margin: 20px 0;
}

.autora__info {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 36px;
}

/* media query */
@media (max-width: 1024px) {
    .container {
        max-width: 768px;
    }
    

  
}

@media (max-width: 768px) {
    .container {
        max-width: 656px;
    }
   
}

@media (max-width: 480px) {
    .container {
        max-width: 356px;
    }

 
    
    
}