body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", Arial, Helvetica,sans-serif;
    color: #e2e2e2;
    background-image: linear-gradient(to right, rgb(70, 91, 124), rgb(101, 76, 76), rgb(65, 65, 107));
}

ul{
    padding:0;
}

li {
    list-style: none;
    
}

a {
    text-decoration: none;
    font-size: 25px;
    
    text-align: center;
    color:#ece7ef;
    
    
}


.lista__info, .paragrafo__info {
    text-align:center;
}





/* cabeçalho */
.cabecalho {
    
    background-image: linear-gradient(to right, rgb(70, 91, 124), rgb(101, 76, 76), rgb(65, 65, 107));
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    padding-top:24px;
    position: fixed; 
    width: 100%;
    height: 124px;
}
/* define que as imagens tem que ter o tamanho máximo da div mãe */

.img-responsive img {
   width: 100%;
    
    
}

.foto-capa img{
    
    background-image: url(../img/Foto_da_Camila_Farani.jpg);
}

/* cabecalho */

.nav__cabecalho{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.lista__nav {
    
    font-size: 20px;
    display: flex; 
}

.lista__nav > li {
    margin: 0 16px;
}

.titulo {
    min-height: 92vh;
    width: 100%;
    
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content:center;   
}





/* main */
.container {
    max-width: 1260px;
    margin: 15em;
    margin-top: 3em;
    
    
}

/*  maravilhosa */
.titulo__maravilhosa {
    
    font-size:45px;
    text-align: center;
    margin: 2em 0 2em auto;
    color: #e5d1bc;
}

.maravilhosa {
    display: flex;
    max-width: 980px;
    margin: 5 auto;
    padding: 2em 2em 2em 2em;
    background-image: linear-gradient(to right, rgb(194, 208, 229), rgb(145, 84, 84), rgb(194, 108, 37));
}

.maravilhosa .maravilhosa__img > img {
    width: 35%;
    border-radius: 12px;
    float: left;
    margin: 20px 40px 20px 20px;
   
}

.paragrafo__maravilhosa {
    width: 100%;
    font-size: 22px;
    text-align: justify;
    
}


        


.slider{
    
    
    height: 293px;
    width: 600px;
    margin: auto;
    margin-top: 5em;
    margin-bottom: 5em;
    
    display: flex;
}

    .slider img{
        border-radius: .50em;
        margin: 0;
    }







/* historia */

/* .titulo__historia {
    font-size: 2.2em;
    color: #4b2967;
}

.paragrafo__historia {
    font-size: 20px;
}

.paragrafo__historia--ultimo {
    font-size: 20px;
    color: #d35e0a;
} */

/* info */

.mais__info {
    margin-top: 5em;
    background-color:#e6d0bd;
    padding: 28px;
    border-radius: 0 30px;
}
.paragrafo__info {
    font-style: italic;
    font-size: 20px;
    color:#db6747;
}


.link-info {
    font-style: italic;
    font-size: 23px;
    color: #88402c;
}

/* footer */

.autora__container {
    background-image: linear-gradient(to right, rgb(201, 194, 190), rgb(248, 109, 109), rgb(226, 226, 247));
    margin-top: em;
    height: 260px;
    display: flex;
    justify-content:center;
}

.autora__img {
    display: flex;
}

.autora__img > img {
    max-width: 240px;
    border-radius: 50%;
    
    margin: 20px 0;
}

.autora__info {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 80px;
    font-size: x-large;
    text-align: justify;
    margin: 1em;
}

/* media query */
@media (max-width: 1024px) {
    .container {
        max-width: 768px;
    }
    

  
}

@media (max-width: 768px) {
    .container {
        max-width: 656px;
    }
   
}

@media (max-width: 480px) {
    .container {
        max-width: 356px;
    }

 
    
    
}