@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

html {
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #c3b8cb;
    font-family: 'Quicksand', sans-serif;
}

ul{
    padding: 0;
}

li{
    list-style: none;
}

h2 {
    border-bottom: 2px solid #4b2967;
    width: 75%;
    margin: auto;
    margin-bottom: 40px;
    padding: 24px;
    margin-top: 40px;
    text-align: center;
    text-transform: uppercase;
}

a{
    text-decoration: none;
    color: #f7f5f8;
    margin: 2px;
}

.cabecalho{
    background-color: #674582;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    position: fixed; 
    width: 100%;
    height: 60px;
}

.img-responsivo{
    max-width: 100%;
    max-height: 40px;
}

.menu-inicial{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.lists-navegacao{
    font-size: 16px;
    display: flex;
}

.lists-navegacao li{
    margin: 0 16px;
}

#header-principal {
    min-height: 80vh;
    width: 100%;
    background-image: url(./img/banner-minha.png);
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content:center;   
}

#header-principal h1 {
    font-size: 2.5em;
    margin-top: 12px;
    margin-bottom: 40px;
}

.nav-principal {
    width: 70%;
    color: #fafafa;
    background-color:#4b2967;
    text-align: center;
    padding: 12px;
    margin-bottom: -87px;
}

.nav-principal ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.nav-principal li {
    margin: 12px;
}

.nav-principal a {
    border: 1px solid #fff;
    padding: 12px;
}

.nav-principal a:hover {
    background-color: #fff;
    color: #4b2967;
}

main{
    margin-top: 150px
}

#apresentacao{
    background-color: #4c246f53;
    margin: 12px;
}

.resumo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding: 20px;
    padding-bottom: 0;
    height: 450px;
}

.resumo img{
    height: 450px;
}

.resumo h4 {
    text-align: center;
    font-size: 2rem;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #4c246f53;
    padding: 12px;
    margin: 12px;
    width: 250px;
}

#projetos p{
    background-color: #4c246f53;
    padding: 50px;
    overflow: auto;
}

#projetos span{
    margin-top: 20px;
    float: right;
}

.card img {
 max-width: 100%;
}

#contato div {
    text-align: center;
    padding: 40px;
}

#contato img {
    width: 80px;
    transform: scale(1);
}


#contato a {
    margin: 24px;
}

#contato img:hover {
    transform: scale(1.2);
    transition: 1s;
}

.rodape {
    background-color:#4b2967;
    color: white;
  }
  
  .rodape__principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .rodape__principal > * {
    margin: 16px 0;
  }
  
  .rodape__navegacao > li {
    font-size: 14px;
    margin: 8px;
  }
  
  .rodape__navegacao a {
    transition: all 0.5s;
  }
  
  .rodape__navegacao a:hover {
    color: #c083b9;
  }
  
  .rodape__logo {
    max-width: 200px;
    align-items: center;
    justify-content: center;
  }
  
  .rodape__redes-sociais a{
   margin: 0 4px;
  }
  
  .rodape__cc {
    width: 100%;
    background-color: #323534;
    font-size: 14px;
    opacity: 0.5;
    text-align: center;
    padding: 10px;
  }

  @media (min-width: 320px) and (max-width: 600px) {
    .resumo {
        flex-wrap: wrap;
        height: 100%;
        text-align: center;
    }

    .resumo img {
        order: -1;
    }

    .card {
        width: 100%;
    }
    .nav-principal {
        width: 100%;
        margin-bottom: -131px;
    }
    .nav-principal li {
        margin: 24px;
    }
    #header-principal h1 {
        margin-bottom: 17px;
    }
    .lists-navegacao, .rodape__principal{
        flex-wrap: wrap;
    }
    .menu-inicial {
        width: 100%;
    }
  }