body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    background-image: url("./img/background.png");
}

/* Laptops e desktops */
.nav__cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 0 70px; 
    background-image: url(./img/menu-back.png);
    align-items: center;
    height: 93px;
}

.imagem_logo {
    width: 100px;
    height: 140px;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.item-lista {
    color: #ffff;
    text-decoration: none;
    font-weight: 600;

}

.item-lista:hover {
    color: #d5a021;

}

.sessao_principal {
    background-color: #ffff;
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 20px;
}

.imagem_isabel {
    width: 400px;
    height: 500px;
    padding: 20px 10px;
    border-radius: 80px;
}

.sessao_secundaria {
    background-color: #ffffff;
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 20px;
    margin-top: 20px;
}

.container_titulo {
    display: flex;
    justify-content: center;
    text-shadow: 0.05em 0.05em 0.2em #ffffff
}

.video {
    height: 500px;
    background-image: url(./img/fundo-video.png);
    background-size: 700px 500px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
}

iframe {
    margin-top: 56px;
    border-radius: 25px;
}

footer {
    background-image: url(./img/menu-back.png);
    display: flex;
    padding: 0px 70px;
    height: 93px;
    justify-content: center;
}

footer p {
    color: #ffffff;
    padding: 20px;
    font-weight: 600;
}

/* Tablets */
@media (max-width: 1024px) {
    .sessao_principal > p {
       font-size: 1em;
       padding-top: 1em;
    }

    h1 {
       font-size: 1.5em;
    }

    .imagem_isabel {
        width: 400px;
        height: 500px;
        padding: 20px 10px;
        border-radius: 80px;
    }
   .sessao_secundaria > p {
        padding-top: 0;
        font-size: 1em;
        margin-top: 1em;
   }
}

/* Tablets menores */
@media (max-width: 748px) {
    .nav__cabecalho {
        height: 92px;
    }

    .imagem_logo {
        width: 89px;
        height: 110px;
    }

    .sessao_principal {
        flex-direction: column 
    }

    .sessao_principal > p {
        font-size: 14px;
        padding-top: 2em;
        padding-right: 1em;
     }
    .sessao_secundaria {
        font-size: 14px;
    }

     h1 {
        font-size: 1.5em;
     }

    .imagem_isabel {
        padding-top: 0.9em;
        border-radius: 2em 3em 2em 3em;
        max-width: 20em;
        max-height: 20em;
        padding-left: 9em;
    }
    .video {
        background-size: 690px 487px;
    }
}

/* Smartphone, iphone modo retrato, smartphones 480x320 */
@media (max-width: 480px) {
    .sessao_principal > p {
        font-size: 14px;
        padding-top: 2em;
    }

    h1 {
        font-size: 1.5em;
    }

    .imagem_isabel {
        padding-top: 4em;
        border-radius: 6em 6em;
    }
}
