@import url('https://fonts.googleapis.com/css2? family= Oxygen:wght@300 & display=swap');

body{
    padding: 0;
    margin: 0;
    color: #242724;
    font-family: 'Oxygen', sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

h1,h3,h4{
    font-weight: 900;
    color: rgb(232, 225, 225);
}

.cabecalho {
   background-color: #bac404ab;
   box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
   padding-top:24px;
   position: relative; 
   width: 100%;
   height: 124px;
}



.maravi{
    width: 100%;
    margin: 0 auto;

}

main{
    display: block;
    background-color: #ffff;
}

.container{
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
}

section .modulo p {
    margin-bottom:40px ;
}
 section .modulo:last-child{
    margin-bottom: 0;
 }

 .modulo h2{
    margin-bottom: 40px;
    font-size: 30px;
 }

.content{
    padding: 40px 0;
    background: #f1f5f0;
    align-items: center;
    top: 50px;
 }

 .parallax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
   
    
 }

 .parallax::after{
    content: " ";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background:-moz-linear-gradient(to bottom, rgba(0,0,0,0)0,rgba(0,0,0,0)40%,#000 100%);
    background:-webkit-linear-gradient(to bottom, rgba(0,0,0,0)0,rgba(0,0,0,0)40%,#000 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0)0,rgba(0,0,0,0)40%,#000 100%);
 }

 h1{
   color: #fff;
   text-align: center;
   font-size: 78px;
   z-index: 50;
   text-transform: uppercase;
}


 .parallax-1{
   background-image: url("../img/5b8edcf989673.webp");
}
 .parallax-2{
    background-image: url("../img/fernanda-garay.webp");
 }

 .parallax-3{
   background-image: url("../img/fernanda-garay1.png");
}


 footer {
   background-color: #bac404ab;
   color: #171518;
   height: 60px;
   display: flex;
   justify-content:center;
   text-align: center;
   top: 50px;
}

 @media all and (max-width: 820px){
   section .modulo h2{
      font-size: 32px;
   }
   .modulo h2, p{
      padding: 0 8px;
   }

   .container{
      margin: 0;
      padding: 0;
   }

   section.modulo .parallax h1{
      font-size: 36px;
   }
 }







