* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
}
.navbar-logo {
    display: flex;
    align-items: center;
    gap: 20px;
}
.img-logo {
    width: 80px;
    height: 50px;
    margin-left: 40px;
}
.navbar-titulo {
    color: #f5f0f0;
    font-size: 1.3rem;
}
.navbar-lista {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 20px;
}
.navbar-link {
    color: #ffffff;
    background-color: rgb(209, 36, 36);
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}
.mobile-menu-icon {
    display: none;
}
.mobile-menu {
    display: none;
}
.titulo-img {  
    position: absolute;
    margin: 20% 0 0 20%;
    font-size: 2.8rem;
    font-weight: bold;
    color: #ffffff;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.452);
    padding: 1rem;
    border-radius: 50px 0 50px 0;
}
.img-header { 
    height: auto;
    width: 100%; 
    background-color: black;
}
.figcaption-header{
    font-size: 1rem;
    margin: -30px 5px 0 0;
    text-align: right;
    font-style: italic;
}
.main {
    width: 90%;
    margin: auto;
    background-color: beige;
}
.subtitulo-sobre {
    text-align: center;
    font-size: 1.8rem;
    padding: 30px;
    color: rgb(102, 97, 89);
}
.section-historia,
.section-carreira,
.section-black-money {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px 0;
}
.img-historia {
    width: 100%;
    max-width: 30%;
    height: auto;
    border-radius: 50%;
}
.figcaption {
    font-size: .8rem;
    position: relative;
    margin-top: 250px;
    margin-left: -30px;  
    margin-right: -30px;
}
.img-carreira {
    width: 100%;
    max-width: 30%;
    height: auto;
    border-radius: 50%;
}
.paragrafo-section {    
    text-align: left;
    line-height: 1.5;
    text-indent: 50px;
    padding: 50px;
}
.titulo-video {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 40px;
}
.video {
    margin-right: 50px;    
}
.footer {
    width: 100%;
    background-color: rgb(209, 36, 36);
    border-top: 1px solid #30f37b6e;
}
.icon-redes {
    text-align: center;
    padding: 20px;
}
.paragrafo-footer {
    text-align: center;
    padding-bottom: 10px;
    color: #ffffff;
}

/* condição a partir de 600px até 1024px */

@media (min-width: 600px) and (max-width: 1024px){
    .mobile-menu-icon {
        display: block;
        width: 1rem;
        margin-right: 3rem;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
    }  
    .navbar-lista {
        display: none;
    }
    .img-header {
        padding-top: 80px;        
    }
    .figcaption-header {
        font-size: .6rem;
    }
    .titulo-img {   
        margin: 30% 0 0 15%;
        font-size: 1.5rem;  
        padding: 1.2rem;
    }
    .main {
        width: 100%;
    }
    .section-historia {
        flex-direction: column-reverse;
        padding: 30px;
    }
    .paragrafo-section {
        text-align: justify;
        padding: 30px;
    }
    .section-carreira {
        flex-direction: column;   
        padding: 0 30px;  
    }
    .section-black-money {
        flex-direction: column;
        padding: 0 30px 30px;       
    }
    .figcaption {
        font-size: .5rem;
        margin-top: 10px;
    }
    .titulo-video {
        font-size: 100%;
        width: 90%;
        margin: auto;
        padding-bottom: 30px;
    }
    .video {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-right: 0;      
    }  
    .iframe {
        width: 90%;
        margin: auto;
    }
    .icon-redes {
        margin-bottom: 40px;
    }
}

/* condição a partir de 376px até 599px */

@media (min-width: 376px) and (max-width: 599px) {
    .mobile-menu-icon {
        display: block;
        width: 1rem;
        margin-right: 2rem;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;       
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
    } 
    .navbar-titulo {
        font-size: 1.2rem;
    }
    .navbar-lista {
        display: none;
    }
    .img-header {
        padding-top: 80px;
    }
    .titulo-img {   
        margin: 35% 0 0 10%;
        font-size: 1rem;  
        padding: 1rem;
    }
    .figcaption-header {
        font-size: .5rem;
    }
    .figcaption {
        font-size: .6rem;
        position: relative;
        margin: 5px 0;        
    }
    .main {
        width: 100%;
    }
    .subtitulo-sobre {
        font-size: .8rem;
    }
    .section-historia {
        flex-direction: column-reverse;
       padding: 30px 30px;
    }
    .paragrafo-section {
        text-align: justify;
        padding: 30px 0 0 0;
    }
    .section-carreira {
        flex-direction: column;   
        padding: 0 30px;  
    }
    .section-black-money {
        flex-direction: column;
        padding: 0 30px 30px;       
    }
    .titulo-video {
        font-size: 90%;
        width: 85%;
        margin: auto;
        padding: 30px 0;
    }
    .video {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-right: 0;      
    }
    .iframe {
        width: 80%;
        margin: auto;
    }
} 

@media (max-width: 375px) {
    .mobile-menu-icon {
        display: block;
        width: 1rem;
        margin-right: 2rem;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;       
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
    } 
    .navbar-titulo {
        font-size: 1.2rem;
    }
    .navbar-lista {
        display: none;
    }
    .img-header {
        padding-top: 80px;
    }
    .titulo-img {   
        font-size: .8rem;   
        margin: 40% 0 0 10%;   
        padding: 1rem;       
    }
    .figcaption-header {
        font-size: .3rem;
        margin: -20px 5px 0 0;
    }
    .figcaption {
        font-size: .6rem;
        position: relative;
        margin: 5px 0;        
    }
    .main {
        width: 100%;
    }
    .subtitulo-sobre {
        font-size: .8rem;
    }
    .section-historia {
        flex-direction: column-reverse;
       padding: 30px 30px;
    }
    .paragrafo-section {
        text-align: justify;
        padding: 30px 0 0 0;
    }
    .section-carreira {
        flex-direction: column;   
        padding: 0 30px;  
    }
    .section-black-money {
        flex-direction: column;
        padding: 0 30px 30px;       
    }
    .titulo-video {
        font-size: 90%;
        width: 85%;
        margin: auto;
        padding: 30px 0;
    }
    .video {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-right: 0;      
    }
    .iframe {
        width: 80%;
        margin: auto;
    }

}